.quiz {
    background-image: url('../assets/400691.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    .wrapper {
        margin:50px;
        background-color: rgba($color: $dark-blue, $alpha: .6);
        border-radius: 5px;
        height:80%;
        width:80%;
        padding:30px;
        text-align: center;
        justify-content: center;
        color:white;
        form {
            display: flex;
            flex-direction: column;
            
            align-items: center; 
            input {
                display: none; 
                &:checked + label {
                    background-color: $dark-blue;
                    color:white;            
                    font-weight: 300;
                }
            }
            label { 
                padding: 10px;
                margin-bottom: 10px;
                width:50%;
                margin-top:10px;
                background-color: white;
                color: black;
                border-radius: 5px;
                box-shadow: 3px 3px 5px black;
                &:hover, &:focus {
                    cursor: pointer;
                    font-weight: 300;  
                    color: white; 
                    background-color: $dark-blue;
                }
            } 
            

        }
    }
} 

