// Styles for the 'Correct Movie' results
.results {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/ponyo.png);
    background-size: cover;
    display: none;

    .wrapper {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:50px;
        background-color: rgba($color: $dark-blue, $alpha: .6);
        border-radius: 5px;
        color: black;
        height:80%;
        width:80%;
        padding:30px;
        text-align: center;
        color:white; 
        .movie-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 75%;
            .rt-score-container {
                font-size: 2rem;
                display: flex;
                align-items: center;
                img {
                    width:40px;
                    height:40px;
                    margin-right: 10px;
                    display:inline-block
                }
            }
        }
        
        #movie-img {
            width: 60%;
            height:100%;
            opacity: 1;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 0px; 
        }
    }
}
